{% extends "base.html" %}
{% block content %}
    <nav aria-label="breadcrumb">
       <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
	  <li class="breadcrumb-item"><a href="{% url 'insert' %}">Insert</a></li>
	  <li class="breadcrumb-item active" aria-current="page">Update</li>
	  <li class="breadcrumb-item"><a href="{% url 'verify' %}">Delete</a></li>
       </ol>
    </nav>
   <div style="padding-left:20px;">
   <p>This patient ID doesn't exisit.</p>
   <form method='post' action="{% url 'update' %}">
   </div>
   {% csrf_token %}
   {{ form.non_field_errors}}
   <div class='container'>
	 <div class='row' style="padding-top:20px;">
	 <div class='col-sm-6'>
            <div class='fieldWrapper'>
               {{ form.pid.errors }}
	       <label for="{{ form.pid.id_for_label}}">
	          Patient ID:&nbsp;
	       </label>
	       <span style="border:0px;border-bottom:2px solid #eee">{{ form.pid }}</span>
             </div>
	  </div>
	 <div class='col-sm-6'>
	 <div class='fieldWrapper'>
	        {{ form.feature.errors }}
	        <label for="{{form.feature.id_for_label}}">
	           Feature:&nbsp;
	        </label>
		<span style="border:0px;border-bottom:2px solid #eee">{{ form.feature }}</span>
             </div>
	  </div>
	 </div>
         <div class='col-sm-6'>
             <div class='fieldWrapper'>
	        {{ form.value.errors }}
	        <label for="{{form.value.id_for_label}}">
	           Value:&nbsp;
	        </label>
		<span style="border:0px;border-bottom:2px solid #eee">{{ form.value }}</span>
             </div>
	   </div>
	 </div>
	 <div style='text-align:center;padding-top:30px;'>
	    <button  type="submit" value='update' class="btn-primary">
               Update
	    </button>
	 </div>
      </div>
   </form>	   
    <script>
	function updateFeedback(){
            window.alert("Record successfully updated.")
	}
	</script>
{% endblock %}
